.audio6_html5.blackControllers .ximage {
	width: 180px;
	height: 180px;
	background-size: contain;
}

body {
	    background-color: transparent;
    border: 1px solid white;
}

.wrnow .audio6_html5.blackControllers .AudioPlay {
	left: -10px !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
}

.wrnow .audio6_html5.blackControllers .songTitle {
	left:50px !important;
	width:150px !important;
}

.wrnow .audio6_html5.blackControllers .songTitleInside {
	font-size:1.1rem !important;
	font-family:sans-serif !important;
}

.wrnow .audio6_html5.blackControllers .songAuthor {
	top: 245px !important;
	left: 50px !important;
	width: 150px !important;
	font-size: 0.9rem !important;
}

.audio6_html5.blackControllers .frameBehindText {
    left: -25px !important;
  width:230px !important;
}

.audio6_html5.blackControllers {
  height:240px !important;
}
.the_wrapper {
  height:240px !important;
}
.audio6_html5.blackControllers .songAuthorLineSeparator,
.audio6_html5.blackControllers .radioStation,
.audio6_html5.blackControllers .frameBehindButtons,
.audio6_html5.blackControllers .thumbsHolderWrapper
{
  display: none !important;
}
