<?xml version="1.0" encoding="utf-8"?>
<!-- xbMusic config file v0.0.11.5 16th July 2024 -->
<config>
	<inlinehelp button="show"/>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBCONFIG_GENERAL"
		description="XBCONFIG_GENERAL_DESC"
	>
   		<field name="infonote" type="note"
			label="XBCONFIG_INFONOTE_LABEL"
			description="XBCONFIG_INFONOTE_DESC"
			class="info"
		/>	
        
   		<field name="beernote" type="note"
			label="XBCONFIG_BUY_A_BEER_LABEL"
			description="XBCONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
        <field name="space1" type="spacer" hr="true" />

		<field name="musicbasenote" type="note"
			label="XBCONFIG_MUSICNOTE_LABEL"
			description="XBCONFIG_MUSICNOTE_DESC"
			class="info"
		/>
<!-- 
  		<field name="use_xbmusic" type="radio"
			label="Folder for Music files"
			description="Either use the /xbmusic area within the website, or enter full filesystem path to music folder"
 			class="btn-group btn-group-yesno"
			default="1"
			>
				<option value="1" >xbmusic</option>
				<option value="0">full path</option>
		</field>	
          
      	<field name="music_path" type="text"
			label="Full path to music"
			description="WARNING - you must specify a directory that is visible and writable by the web server process. Either set permissions on entire folder to 777 or add the web server user (eg www-data) to the owner group for the folder"
			hint="enter full/path/on/server/to/parent/for/music/files"
			size="60"
			showon="use_xbmusic:0"
        />
 -->       
       <field name="space2" type="spacer" hr="true" />
        
        <field name="genrecattag" type="radio"
        	label="ID3 Genre as Track Cat/Tag"
        	description="When importing track details from ID3 data use Genre tag, if present, as a Joomla  Tag or a Category or ignore it (only saved in ID3 data). Genre categories would be created under 'tracks', tags would be created under 'Id3Genres' as parent."
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0">Ignore</option>
				<option value="1">Category</option>
				<option value="2">Tag</option>
				<option value="3">Both</option>
        </field>

        <field name="addgenre" type="radio"
        	label="Also tag album and song"
        	description="Also add genre tag to albums and/or songs"
 			class="btn-group btn-group-yesno"
			default=""
			showon="genrecattag:2[OR]genrecattag:3"
        >
			<option value="">Ignore</option>
			<option value="1">Song</option>
			<option value="2">Album</option>
			<option value="3">Both</option>
        </field>
        
       <field name="space3" type="spacer" hr="true" />
        
        <field name="imagesize" type="number" 
        	label="Max Ht/Width for ID3 image" 
        	description="Track images will be resized down to this size on height or width in pixels maintaing source aspect ratio (usually square)" 
        	min="100" max="1000" step="10"
         	default="500" 
         />
       
	</fieldset>

<!-- CATEGORIES TAB -->
	<fieldset name="cats"
		label="XBMUSIC_CONFIG_CATS_SET"
		description="XBMUSIC_CONFIG_CATS_SET_DESC"
	>
		<field name ="albumcatnote" type="note"
			label="XBMUSIC_CONFIG_ALBUMCAT_NOTE"
		/>
		<field name="rootcat_album" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_album" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="artistcatnote" type="note"
			label="XBMUSIC_CONFIG_ARTISTCAT_NOTE"
		/>
		<field name="rootcat_artist" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_artist" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="plistcatnote" type="note"
			label="XBMUSIC_CONFIG_PLISTCAT_NOTE"
		/>
		<field name="rootcat_playlist" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_playlist" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="songcatnote" type="note"
			label="XBMUSIC_CONFIG_SONGCAT_NOTE"
		/>
		<field name="rootcat_song" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_song" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="trackcatnote" type="note"
			label="XBMUSIC_CONFIG_TRACKCAT_NOTE"
		/>
		<field name="rootcat_track" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_track" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		
	</fieldset>		
	
<!-- TAGS TAB -->
	<fieldset
		name="tags"
		label="XBMUSIC_CONFIG_TAGS_SET"
		description="XBMUSIC_CONFIG_TAGS_SET_DESC"
	>
		<field name ="albumtagnote" type="note"
			label="XBMUSIC_CONFIG_ALBUMTAG_NOTE"
		/>
		<field name="albumtagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"	
			levels="1"
			remote-search = "false"		
		/>
		<field name ="artisttagnote" type="note"
			label="XBMUSIC_CONFIG_ARTISTTAG_NOTE"
		/>
		<field name="artisttagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="plisttagnote" type="note"
			label="XBMUSIC_CONFIG_PLISTTAG_NOTE"
		/>
		<field name="plisttagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="songtagnote" type="note"
			label="XBMUSIC_CONFIG_SONGTAG_NOTE"
		/>
		<field name="songtagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="tracktagnote" type="note"
			label="XBMUSIC_CONFIG_TRACKTAG_NOTE"
		/>
		<field name="tracktagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		
	</fieldset>		
	
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBCONFIG_REGCRED_LABEL"
			description="XBCONFIG_REGCRED_DESC"
	>
  		<field name="beernote" type="note"
			label="XBCONFIG_BEER_NOTE"
			description="XBCONFIG_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBCONFIG_BEER_FIELD" description="XBCONFIG_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="beernote2" type="note"
			label="XBCONFIG_BEER_PAY_AT_THE_BAR"
			description="XBCONFIG_BEER_FORM"			
		/>
		<field name="othercreditsnote" type="note"
			label="XBCONFIG_CREDITS_NOTE"
			description="XBMUSIC_CREDITS_NOTE"
		/>
		<field name="devtoolsnote" type="note"
			label="XBCONFIG_DEV_TOOLS"
			description="XBMUSIC_DEV_TOOLS_DESC"
		/>
	</fieldset>		

<!-- PERMISSIONS TAB -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbmusic" filter="rules" validate="rules" section="component" />
	</fieldset>
	
</config>