<?xml version="1.0" encoding="utf-8"?>
<!-- xbMusic config file v0.0.11.5 16th July 2024 -->
<config>
	<inlinehelp button="show"/>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBCONFIG_GENERAL"
		description="XBCONFIG_GENERAL_DESC"
	>
   		<field name="infonote" type="note"
			label="XBCONFIG_INFONOTE_LABEL"
			description="XBCONFIG_INFONOTE_DESC"
			class="info"
		/>	
        
   		<field name="beernote" type="note"
			label="XBCONFIG_BUY_A_BEER_LABEL"
			description="XBCONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
        <field name="space1" type="spacer" hr="true" />

		<field name="musicbasenote" type="note"
			label="XBCONFIG_MUSICNOTE_LABEL"
			description="XBCONFIG_MUSICNOTE_DESC"
			class="info"
		/>
<!-- 
  		<field name="use_xbmusic" type="radio"
			label="Folder for Music files"
			description="Either use the /xbmusic area within the website, or enter full filesystem path to music folder"
 			class="btn-group btn-group-yesno"
			default="1"
			>
				<option value="1" >xbmusic</option>
				<option value="0">full path</option>
		</field>	
          
      	<field name="music_path" type="text"
			label="Full path to music"
			description="WARNING - you must specify a directory that is visible and writable by the web server process. Either set permissions on entire folder to 777 or add the web server user (eg www-data) to the owner group for the folder"
			hint="enter full/path/on/server/to/parent/for/music/files"
			size="60"
			showon="use_xbmusic:0"
        />
 -->       
       <field name="space2" type="spacer" hr="true" />
        
	</fieldset>

<!-- ID3 TAB -->
	<fieldset name="id3"
		label="XBMUSIC_CONFIG_ID3_SET"
		description="XBMUSIC_CONFIG_ID3_SET_DESC"
	>
		<field name ="id3note" type="note"
			description="ID3 data can be read from the MP3 file when creating new tracks and used for the basic track data. A Song item will also be created based on the ID3 track title, and Album and Artist items may also be created if they are present in the ID3. The options below will be used both when creating new individual tracks from a file, and when bulk importing using the Data Manager view. The Category option can be overidden during datamanger import."
		/>
        <field name="genrecattag" type="radio"
        	label="ID3 Genre as Track Cat/Tag"
        	description="When importing track details from ID3 data use Genre tag, if present, as a Joomla Tag and/or Category for track. Genre categories have 'Tracks' as parent category, Genre tags have 'Genres' as parent tag. When bulk importing from ID3 data using DataManager you can override the category option to create date based categories"
 			class="btn-group btn-group-yesno"
			default="2"
			>
				<option value="0">Ignore</option>
				<option value="1">Category</option>
				<option value="2">Tag</option>
				<option value="3">Both</option>
        </field>

        <field name="genrealbsong" type="radio"
        	label="ID3 Genre as Album/Song Tag"
        	description="Add genre tags to albums and/or songs"
 			class="btn-group btn-group-yesno"
			default=""
        >
			<option value="0">Ignore</option>
			<option value="1">Song</option>
			<option value="2">Album</option>
			<option value="3">Both</option>
        </field>
        
		<field name ="genrenote" type="note"
			description="The following options concern the processing of genre names from the ID3 data to create consistency. eg 'Folk Rock', 'Folk/Rock', and 'Folk-Rock' are all found in the wild and should produce the same tag or category name."
		/>
        <field name="genrehyphen" type="radio"
        	label="Slash and Hyphen handling"
        	description=""
 			class="btn-group btn-group-yesno"
			default="1"
			>
				<option value="0">Leave as-is</option>
				<option value="1">Slash to Hyphen</option>
				<option value="2">Hyphen to Slash</option>
        </field>

        <field name="genrespaces" type="radio"
        	label="Space handling"
        	description="Space to Genres will break the ID3 name into 2 or more separate genres at the space(s)"
 			class="btn-group btn-group-yesno"
			default="1"
			>
				<option value="0">Leave as-is</option>
				<option value="1">Space to Hyphen</option>
				<option value="2">Space to Slash</option>
				<option value="3">Separate Genres</option>
        </field>

        <field name="genrecase" type="radio"
        	label="Initial Upper/Lower Case names"
        	description="Initial Capital will convert 'FOLK' to 'Folk' and 'folk-rock' to 'Folk-rock'"
 			class="btn-group btn-group-yesno"
			default="1"
			>
				<option value="1">Initial Capital</option>
				<option value="2">All Lower Case</option>
        </field>        
        
       <field name="space3" type="spacer" hr="true" />
        
       <field name="imagesize" type="number" 
       	label="Max Ht/Width for ID3 image" 
       	description="Track images will be resized down to this size width in pixels maintaing source aspect ratio (usually square)" 
       	min="100" max="1000" step="10"
        	default="500" 
        />
       
	
	</fieldset>

<!-- CATEGORIES TAB -->
	<fieldset name="cats"
		label="XBMUSIC_CONFIG_CATS_SET"
		description="XBMUSIC_CONFIG_CATS_SET_DESC"
	>
		<field name ="albumcatnote" type="note"
			label="XBMUSIC_CONFIG_ALBUMCAT_NOTE"
		/>
		<field name="rootcat_album" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_album" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="artistcatnote" type="note"
			label="XBMUSIC_CONFIG_ARTISTCAT_NOTE"
		/>
		<field name="rootcat_artist" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_artist" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="plistcatnote" type="note"
			label="XBMUSIC_CONFIG_PLISTCAT_NOTE"
		/>
		<field name="rootcat_playlist" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_playlist" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="songcatnote" type="note"
			label="XBMUSIC_CONFIG_SONGCAT_NOTE"
		/>
		<field name="rootcat_song" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_song" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		<field name ="trackcatnote" type="note"
			label="XBMUSIC_CONFIG_TRACKCAT_NOTE"
		/>
		<field name="rootcat_track" type="category"
			label="XBMUSIC_CONFIG_PARENT_CAT" 
			description="XBMUSIC_CONFIG_CATBRANCH_DESC" 
			extension="com_xbmusic" 
		>
			<option value="0">XBMUSIC_NO_RESTRICT</option>
		</field>
		<field
			name="defcat_track" type="category"
			label="XBCONFIG_CAT_DEF_LABEL"
			description="XBCONFIG_CAT_DEF_DESC"
			extension="com_xbmusic"
			>			
		</field>
		
	</fieldset>		
	
<!-- TAGS TAB -->
	<fieldset
		name="tags"
		label="XBMUSIC_CONFIG_TAGS_SET"
		description="XBMUSIC_CONFIG_TAGS_SET_DESC"
	>
		<field name ="albumtagnote" type="note"
			label="XBMUSIC_CONFIG_ALBUMTAG_NOTE"
		/>
		<field name="albumtagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"	
			levels="1"
			remote-search = "false"		
		/>
		<field name ="artisttagnote" type="note"
			label="XBMUSIC_CONFIG_ARTISTTAG_NOTE"
		/>
		<field name="artisttagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="plisttagnote" type="note"
			label="XBMUSIC_CONFIG_PLISTTAG_NOTE"
		/>
		<field name="plisttagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="songtagnote" type="note"
			label="XBMUSIC_CONFIG_SONGTAG_NOTE"
		/>
		<field name="songtagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		<field name ="tracktagnote" type="note"
			label="XBMUSIC_CONFIG_TRACKTAG_NOTE"
		/>
		<field name="tracktagparents" type="tag"
			label="XBMUSIC_CONFIG_TAG_PARENTS"
			description="XBMUSIC_CONFIG_TAG_PARENTS_DESC"
			mode="nested"
			multiple="true"			
			levels="1"
		/>
		
	</fieldset>		
	
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBCONFIG_REGCRED_LABEL"
			description="XBCONFIG_REGCRED_DESC"
	>
  		<field name="beernote" type="note"
			label="XBCONFIG_BEER_NOTE"
			description="XBCONFIG_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBCONFIG_BEER_FIELD" description="XBCONFIG_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="beernote2" type="note"
			label="XBCONFIG_BEER_PAY_AT_THE_BAR"
			description="XBCONFIG_BEER_FORM"			
		/>
		<field name="othercreditsnote" type="note"
			label="XBCONFIG_CREDITS_NOTE"
			description="XBMUSIC_CREDITS_NOTE"
		/>
		<field name="devtoolsnote" type="note"
			label="XBCONFIG_DEV_TOOLS"
			description="XBMUSIC_DEV_TOOLS_DESC"
		/>
	</fieldset>		

<!-- PERMISSIONS TAB -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbmusic" filter="rules" validate="rules" section="component" />
	</fieldset>
	
</config>